# DEVTEST-DB-5435 (PYTEST / INTEGRATION TESTS)
#
# Use with pytest and alembic migrations.
# This points to the test database on localhost:5435.
#
DATABASE_URL=postgresql+psycopg://wordloom:wordloom@localhost:5435/wordloom_test

DEBUG=False
ENVIRONMENT=devtest-test
LOG_LEVEL=WARNING
